{% extends 'base.html' %}

{% block title %}
    Новая задача 
{% endblock %}


 {% block content %}
    <p>Новая задача:</p>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="description" cols="30" rows="10"></textarea>
        <p>Статус:</p>
        <select name="status">
            <option value="new">Новая задача</option>
            <option value="progress">В процессе</option>
            <option value="done">Сделано</option>
        </select>
        <p>Дата выполнения:</p>
        <input type="text" name="deadline"> 
        <p><input type="submit" value="Сохранить"></p>
    </form>

{% endblock %}