{% extends 'base.html' %}

{% block title %}
    Новая задача 
{% endblock %}


 {% block content %}
    <h5>Новая задача:</h5>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="header" cols="30" rows="10"></textarea>
        <h5>Статус:</h5>
        <select name="status">
            {% for choice in choices %}
            <option value="{{ choice.1 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <h5>Дата выполнения:</h5>
        <input type="text" name="deadline">
        <p><input class="mt-3"type="submit" value="Сохранить"></p>
    </form>

{% endblock %}