{% extends 'base.html' %}

{% block title %}
    Новая задача 
{% endblock %}


 {% block content %}
    <p>Новая задача:</p>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="description" cols="30" rows="10"></textarea>
        <p>Статус:</p>
        <select name="status">
            {% for choice in choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <p>Дата выполнения:</p>
        <input type="text" name="deadline"> 
        <p><input type="submit" value="Сохранить"></p>
    </form>

{% endblock %}