{% extends 'base.html' %}

{% block title %}
    Редактирование 
{% endblock %}


 {% block content %}
    <p>Задача:</p>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="description" cols="30" rows="10">{{ task.description }}</textarea>
        <p>Статус:</p>
        {% comment %} подставить текущий комментарий {% endcomment %}
        <select name="status">
            <option value="new">Новая задача</option>
            <option value="process">В процессе</option>
            <option value="done">Сделано</option>
        </select>
        <p>Дата выполнения:</p>
        <input type="text" name="deadline" value="{{ task.deadline }}"> 
        <p><input type="submit" value="Сохранить"></p>
    </form>

{% endblock %}