{% extends 'base.html' %}

{% block title %}
    Редактирование 
{% endblock %}


 {% block content %}
    <p>Задача:</p>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="description" cols="30" rows="10">{{ task.description }}</textarea>
        <p>Статус:</p>
        <select name="status">

            {% for choice in choices %}
                {% if task.status == choice.1 %}
                    <option value="{{ choice.1 }}" selected>{{ choice.1 }}</option>
                {% else %}
                    <option value="{{ choice.1 }}">{{ choice.1 }}</option>
                {% endif %}
            {% endfor %}

        </select>
        <p>Дата выполнения:</p>
        <input type="text" name="deadline" value="{{ task.deadline }}"> 
        <p><input type="submit" value="Сохранить"></p>
    </form>

{% endblock %}