{% extends 'base.html' %}

{% block title %}
    Список задач 
{% endblock %}


 {% block content %}
 <h1>Список задач</h1>   

    {% for task in tasks %}
    <a href="/detail/{{ task.pk }}"><h5>Задание:</h5></a> 
    
    {% if task.status == choices.2.1 %}
        <p class="decor">{{ task.header }}</p>
    {% else %}
        <p>{{ task.header }}</p>
    {% endif %}

    <h5>Статус:</h5> 
    <p>{{task.status}}</p> 
    <h5>Дата выполнения:</h5> 
    <p>{{task.deadline}}</p>
    <a href="/edit/?pk={{ task.pk }}">Редактировать</a>
    <a href="/delete/?pk={{ task.pk }}">Удалить</a>
    <hr> 

    {% endfor %}

{% endblock %}